.field-repeater > .field-repeater-builder li.field-repeater-group[data-repeater-group="products"] {
  display: none;
}

.field-repeater > ul > li.field-repeater-item .field-repeater > ul > li.field-repeater-item[data-item-title="Products"] {
  display: none;
}

.control-filelist.filelist-hero ul li > a[data-request-data="_repeater_group: 'products'"] {
  display: none;
}